<template>
  <el-button-group>
    <el-button
      class="el-button-custom"
      @click="onClickButtonExport"
      icon="el-icon-download">Export</el-button>
    <el-button
      class="el-button-custom"
      @click="onClickButtonShare"
      icon="el-icon-share">Share</el-button>
  </el-button-group>
</template>

<script>
export default {
  name: 'ButtonGroup',
  props: {
    onClickButtonExport: {
      type: Function,
      default: () => {},
    },
    onClickButtonShare: {
      type: Function,
      default: () => {},
    },
  },
};
</script>

<style lang='scss' scoped>
  .el-button-group {
    .el-button-custom {
      &:hover {
        background-color: #eef2f4;
        border: 1px solid #eef2f4;
        color: #647684;
      }
    }
  }
</style>
