<template>
  <el-table
    :data="dataTable"
    v-loading="isLoading"
    stripe
    height="500"
    class="table-data"
    >
    <el-table-column
      v-for="(column, index) in columns"
      :key="index"
      :prop="column.prop"
      :label="column.label"
      width="168"
      >
      <template slot-scope="scope">
        <img v-if="column.type === 'image'" :src="scope.row[column.prop]"/>
        <p v-else>
          {{scope.row[column.prop]}}
        </p>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      columns: [],
    };
  },
  watch: {
    dataTable: {
      handler() {
        this.handleGenerateColumn();
      },
    },
  },
  methods: {
    handleGenerateColumn() {
      const staticHead = ['slug', 'dir', 'path', 'extension'];
      if (this.dataTable.length > 0) {
        const sampleRow = this.dataTable[0];
        const columns = [];
        for (const property in sampleRow) {
          if (!staticHead.includes(property)) {
            const typeImage = property.includes('picture') || property.includes('image');
            columns.push({
              prop: property,
              label: property,
              type: typeImage ? 'image' : 'text',
            });
          }
        }
        this.columns = columns;
      }
    },
  },
  created() {
    this.handleGenerateColumn();
  },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    dataTable: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
<style lang="scss">
  .el-loading-spinner{
    display: flex;
    justify-content: center;
  }

</style>
