<template>
  <el-container>
    <el-aside width="200px">
      <el-menu
        :router="true"
        :unique-opened="true"
        active-text-color="#647684"
        :default-active="activeLink"
      >
        <el-submenu
        :index="menu.id"
        v-for="menu in menus"
        :key="menu.id"
        :class="menu.path === $route.fullPath ? 'active' : ''">
          <template slot="title"><i class="el-icon-coin"></i>{{ menu.provider }}</template>
          <el-menu-item-group>
            <template slot="title">{{ menu.title }}</template>
            <el-menu-item
              v-if="!menu.isConnect"
              :index="menu.path">
                <i class="el-icon-link"></i>
                {{ menu.subtitle }}
            </el-menu-item>
            <el-menu-item
              v-else
              :index="menu.path">
              <i class="el-icon-connection"></i>
              {{ menu.subtitle }}
            </el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-menu>
    </el-aside>

    <el-main>
      <transition name="el-fade-in">
        <NuxtChild />
      </transition>
    </el-main>
  </el-container>

</template>
<style lang='scss'>
  .el-container {
    min-height: 100vh;
    border: 1px solid #eee;
    .el-aside {
      color: #647684;
      background-color: #eef2f4;
      .el-submenu {
        background-color: #eef2f4;
        &.active {
          font-weight: bold;
        }
        &__title {
          color: #647684;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .el-main {
      padding: 0 !important;
    }
  }

</style>

<script>
import { mapMutations } from 'vuex';

export default {
  data() {
    return {
      menus: [
        {
          id: '1',
          provider: 'SQ Lite',
          path: '/',
          title: 'TabLe',
          subtitle: 'Click to connect',
          isConnect: false,
        },
        {
          id: '2',
          provider: 'MS SQL',
          path: '/mssql',
          title: 'TabLe',
          subtitle: 'Click to connect',
          isConnect: true,
        },
        {
          id: '3',
          provider: 'MariaDB',
          path: '/mariadb',
          title: 'TabLe',
          subtitle: 'Click to connect',
          isConnect: false,
        },
        {
          id: '4',
          provider: 'PostgreSql',
          path: '/postgresql',
          title: 'TabLe',
          subtitle: 'Click to connect',
          isConnect: false,
        },
      ],
      activeLink: null,
    };
  },
  watch: {
    $route(to) {
      this.activeLink = to.path;
      this.handleConnect(to.fullPath);
    },
  },
  mounted() {
    this.activeLink = this.$route.path;
    this.handleConnect(this.$route.path);
  },
  methods: {
    ...mapMutations('products', ['setActiveMenu']),
    handleConnect(path) {
      const index = this.menus.findIndex((el) => el.path === path);
      if (~index) {
        this.menus.forEach((el) => {
          if (el.isConnect === true) {
            el.isConnect = false;
            el.subtitle = 'Click to connect';
          }
        });
        // set time out for give a fake AJAX effect
        setTimeout(() => {
          const activeMenu = this.menus[index].provider;
          this.setActiveMenu(activeMenu);
          this.menus[index].isConnect = true;
          this.menus[index].subtitle = 'Connected';
        }, 500);
      }
    },
  },
};
</script>
