<template>
  <div>
    <!-- header -->
    <MoleculesHeader />
    <!-- aside -->
    <OrganismsAside>
      <!-- main -->
      <Nuxt />
    </OrganismsAside>
  </div>
</template>

<style lang='scss'>
html {
  font-family: "roboto";
  color: #647684;
  body {
    margin: 0;
  }
}
</style>
