<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo" mode="horizontal"
    @select="handleSelect"
  >
  <el-menu-item index="1">SQL view Editor</el-menu-item>
  <el-menu-item index="3">Info</el-menu-item>
  </el-menu>
</template>

<script>
export default {
  data() {
    return {
      activeIndex: '1',
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
  },
};
</script>

<style lang='scss'>
  .el-menu-demo {
    background-color: #eef2f4;
    .el-menu-item {
      &.is-active {
        border-bottom: 1px solid #303133;
      }
    }
  }
</style>
