<template>
  <el-row :gutter="10">
    <el-col >
      <MoleculesNav>
        <MoleculesButtonGroup
          :onClickButtonShare="open"
          :onClickButtonExport="open"
          />
      </MoleculesNav>
    </el-col>
    <el-col>
      <div class="editor-content">
        <div class="button-run-wrapper">
          <el-button
            class="button-success" icon="el-icon-caret-right"
            size="small" plain @click="handleFilter">Run</el-button>
        </div>
        <VueQueryBuilder
          :rules="rules"
          v-model="query"
          :maxDepth="3"
          :labels="labels"
        >
          <template v-slot:default="slotProps">
            <AtomsTailwindGroup
              v-bind="slotProps"
              :query.sync="query"
            />
          </template>
        </VueQueryBuilder>
      </div>
    </el-col>
    <div class="table-wrapper">
      <AtomsTable
        :isLoading="isLoading"
        :dataTable="dataTable"
      />
    </div>
    <slot />
  </el-row>
</template>

<script>
import VueQueryBuilder from 'vue-query-builder';
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'Main',
  components: {
    VueQueryBuilder,
  },
  data() {
    return {
      dataTable: [],
      labels: {
        operator: 'Operator',
        matchTypes: [
          { id: 'all', label: 'All' },
          { id: 'any', label: 'Any' },
        ],
        addRule: 'Add Rule',
        removeRule: '&times;',
        removeGroup: '&times;',
        textInputPlaceholder: 'value',
      },
      rules: [
        {
          type: 'text',
          id: 'customerID',
          label: 'customer ID',
        },
        {
          type: 'text',
          id: 'companyName',
          label: 'Company Name',
        },
        {
          type: 'text',
          id: 'contactName',
          label: 'Contact Name',
        },
        {
          type: 'text',
          id: 'contactTitle',
          label: 'Contact Title',
        },
        {
          type: 'text',
          id: 'address',
          label: 'Address',
        },
        {
          type: 'text',
          id: 'createdAt',
          label: 'Created At',
        },
        {
          type: 'text',
          id: 'updatedAt',
          label: 'Updated At',
        },
      ],
      query: {
        logicalOperator: 'all',
        children: [],
      },
    };
  },
  computed: {
    ...mapState({
      isLoading: (state) => state.products.isLoading,
    }),
  },
  created() {
    this.getData();
  },
  methods: {
    ...mapMutations('products', ['setLoading']),

    async handleFilter() {
      this.setLoading(true);
      const { query: { children } } = this;
      const setQuery = {};
      children.forEach((el) => {
        const { rule, value, operator } = el.query;
        // is empty
        // is not empty
        // begins with
        // ends with
        switch (operator) {
          case 'equals':
            setQuery[rule] = {
              $eq: value,
            };
            break;
          case 'does not equal':
            setQuery[rule] = {
              $ne: value,
            };
            break;
          case 'contains':
            setQuery[rule] = {
              $contains: value,
            };
            break;
          case 'does not contain':
            setQuery[rule] = {
              $containsNone: value,
            };
            break;
          default:
            break;
        }
      });
      const csData = await this.$content('customers', { text: true }).where(setQuery).fetch();
      this.dataTable = csData;
      this.setLoading(false);
    },
    async getData() {
      this.setLoading(true);
      const csData = await this.$content('customers', { text: true }).where().fetch();
      this.dataTable = csData;
      this.setLoading(false);
    },
    open() {
      this.$alert('We are currently preparing this exciting feature', 'Coming soon', {
        confirmButtonText: 'OK',
      });
    },
  },
};
</script>

<style lang='scss' scoped>
  .editor-content {
    min-height: 136px;
    padding: 32px;
    position: relative;
    .button-run-wrapper{
      position: absolute;
      right: 55px;
      z-index: 2;
      top: 50px;
      .el-icon-caret-right {
        color: #429248;
        font-size: 14px;
      }
    }
  }
  .table-wrapper{
    padding: 32px;
  }
</style>
