<template>
  <nav class="editor-nav">
    <div class="editor-nav-left">
      <i class="el-icon-s-data"></i>
      {{ activeMenu }}
    </div>
    <div class="editor-nav-right">
      <slot/>
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      activeMenu: (state) => state.products.activeMenu,
    }),
  },
};
</script>

<style lang='scss' scoped>
  .editor-nav {
    display: flex;
    justify-content: space-between;
    color: #647684;
    background-color: #ffffff;
    border-bottom: 1px solid #eef2f4;
    .editor-nav-left {
      background-color: #eef2f4;
      width: 15%;
      padding: 15px;
      border-right: 4px solid #7cc3c6;
    }
    .editor-nav-right {
      padding: 7px;
    }
  }
</style>
